<div ng-controller="homeController">
<!--SEARCH SECTION-->
<div class="bg-cover">
	<div class="columns">
		<div class="column is-6 is-offset-3">
			<h1 class="title is-1 has-text-centered white"><img src="public/images/chef-hat.png" class="chef-hat"/> Rapid Recipe</h1>
			<h5 class="title is-5 has-text-centered white">Quickly find a variety of delicous recipes for your next meal!</h5>
			<form ng-submit="search(query)">
				<p class="control has-icon has-icon-right search-input">
  				<input
  					ng-model="query.text" 
  					class="input is-large" 
  					type="text" 
  					placeholder="Enter recipe type or ingredients (beef, eggs, etc,.)">
  					<i class="fa fa-search"></i>
				</p>
				<a type='submit' value="Submit" class="hide"></a>
			</form>
		</div>
	</div>	
</div>
<!--POPULAR EATS-->
<div ng-hide="hideDefault">
  <h1 class="title is-2 has-text-centered header-popular">Popular eats</h1>
  <h1 class="title is-5 has-text-centered">Top picks of trending recipes</h1>
  <div class="flex-container">
    <div ng-repeat="p in popular" class="task-col">
      <img ng-click="goToRecipe(p)" ng-src="{{p.image_url}}" class="grid-img"/>
      <p class="has-text-centered">{{p.title}}</p>
    </div>
  </div>
</div>
<!--LOADER-->
<div ng-hide="!showLoader" class="load">
  <div id="loadFacebookG">
  <div id="blockG_1" class="facebook_blockG"></div>
  <div id="blockG_2" class="facebook_blockG"></div>
  <div id="blockG_3" class="facebook_blockG"></div>
  </div>
</div>
<!--RESULTS-->
<div ng-hide='!showMessage'>
  <h1 class="title is-2 has-text-centered header-popular">Results</h1>
  <h1 class="title is-5 has-text-centered">Here are the recipes found with "{{q}}"</h1>
</div>
<div class="flex-container">
  <div ng-repeat="r in recipes" class="task-col">
    <img ng-click="goToRecipe(r)" ng-src="{{r.image_url}}" class="grid-img" />
    <p class="has-text-centered">{{r.title}}</p>
  </div>
</div>
<!--PAGINATION-->
<h1 class="title is-5 has-text-centered">
  <span ng-hide="!previous" ng-click="pagPrevious()">Previous |</span> 
  <span ng-hide="!next" ng-click="pagNext()">Next</span>
</h1>
</div>