<div ng-controller="homeController">

<!--SEARCH SECTION-->
<div class="bg-cover">
	<div class="columns">
		<div class="column is-6 is-offset-3">
			<h1 class="title is-1 has-text-centered white"><img src="public/images/chef-hat.png" class="chef-hat"/> Rapid Recipe</h1>
			<h5 class="title is-5 has-text-centered white">Quickly find a variety of delicous recipes for your next meal!</h5>
			<form ng-submit="search(query)">
				<p class="control has-icon has-icon-right search-input">
  				<input
  					ng-model="query.text" 
  					class="input is-large" 
  					type="text" 
  					placeholder="Enter recipe type or ingredients (beef, eggs, etc,.)">
  					<i class="fa fa-search"></i>
				</p>
				<a type='submit' value="Submit" class="hide"></a>
			</form>
		</div>
	</div>	
</div>

<!--POPULAR EATS-->
<h1 class="title is-2 has-text-centered header-popular">Popular eats</h1>
<h1 class="title is-5 has-text-centered">Top picks of trending recipes</h1>
<div class="columns">
  	<div class="column">
  	</div>
  	<div class="column">
  		<a target="_blank"
    		href="http://www.foodnetwork.com/recipes/food-network-kitchens/chicken-parmesan-recipe2.html">
    		<img
    			src="public/images/chicken-parm.jpeg" 
    			class="grid-img"/>
    	</a>
    	<p>Chick Parmesan</p>
  	</div>
  	<div class="column">
  		<a target="_blank"
    		href="http://www.food.com/recipe/panda-express-orange-chicken-103215">
    		<img 
    			src="public/images/orange-chicken.jpg" 
    			class="grid-img"/>
    	</a>
    	<p>Orange Chicken</p>
  	</div>
  	<div class="column">
  		<a target="_blank"
    		href="http://www.food.com/recipe/delicious-nachos-supreme-206391">
    		<img 
    			src="public/images/nachos.jpg" 
    			class="grid-img"/>
    	</a>
    	<p>Nachos Supreme</p>
  	</div>
  	<div class="column">
  		<a target="_blank"
    		href="http://www.food.com/recipe/the-perfect-burger-92021">
    		<img 
    			src="public/images/burger.jpg" 
    			class="grid-img"/>
    	</a>
    	<p>Perfect Burger</p>
  	</div>
  	<div class="column">
  	</div>
</div>

</div>