/*HELPERS*/
html, body {
	font-family: "Righteous";
}
.white{
	color: #fff;
}
.hide{
	height: 0px !important;
}

/*HOME PAGE*/
.bg-cover{
	padding-top: 150px;
	background-image: url('/public/images/cooking1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 60vh;
}
.search-input{
	margin-top: 60px;
}
.header-popular{
	margin-top: 40px;
}
.grid-img{
	height: 150px;
	width: 100%;
}